@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    background-color: white;
}

.App {
  margin: 30px 60px;
  /* text-align: center; */
}

.linktree {
  display: flex;
  flex-direction: column;
}

.link {
  background-color: #eaecf0;
  color: black;
  text-decoration: none;
  border-radius: 8px;
  padding: 20px 0;
  margin-bottom: 6.5px;

  display: flex;
  justify-content: center;
}

.socials {
  display: flex;
  justify-content: center;
}

.socials img {
  margin: 30px 15px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.share-img {
    position: absolute;
    top: -20px;
    right: 0px;
}

#profile__img {
  width: 135px;
  border-radius: 50%;
}

#twitter {
  margin: 20px 0;
}

#slack {
  visibility: hidden;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 0;
  text-align: left;
}

.footer p {
  color: #667085;
  margin: 20px 0;
}

.footer img {
  width: 150px;
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
  }

  .share-img {
    right: calc(100% - 75%);
}
}
